.footer {
  padding: 40px 0 30px;
  background-color: #222222;
}

.footer__container {
  display: grid;
  grid-template-areas:
    "logo ."
    "copyright developers";
  color: #fff;
  gap: 50px;
  font-size: 16px;
  line-height: 140%;
}

.footer__logo {
  max-width: 420px;
  width: 100%;
  grid-area: logo;
}

.footer__copyright {
  align-self: end;
  grid-area: copyright;
}

.footer__developers {
  justify-self: end;
  grid-area: developers;
}

.footer__developer {
  margin-bottom: 7px;
}

.footer__developer:last-child {
  margin-bottom: 0;
}

.footer__developer-link:hover {
  color: #d10014;
}


@media (max-width: 660px) {
  .footer{
    padding: 24px 0 20px;
  }

  .footer__container{
    gap: 0;
    grid-template-areas:
    "logo"
    "copyright"
    "developers";
  }

  .footer__logo{
    max-width: 230px;
    margin-bottom: 32px;
  }

  .footer__copyright{
    margin-bottom: 16px;
  }

  .footer__developers{
    justify-self: start;
  }
}

