@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900);

html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;

    font-family: 'Montserrat', sans-serif;
    background-color: #060728;
    color: #fff;
}

.container{
    max-width: 1200px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.no-scroll{
    overflow: hidden;
}